@import "bootstrap/bootstrap.less";
//@import "bootstrap/responsive.less";

/**
 * LESS MIXINS AND VARIABLES
 */
.backgroundCover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.rounded-corners (@radius: 5px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

 /**
  * COMMON
  */

body {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
	border-bottom: 2px #999 dotted;
	font-size: 14px;
	margin-top: 20px;	
	line-height: 14px;
}

a {
	color: black;
	text-decoration: none;
	&:hover {
		color: #999;
	}
}

.section {
	//.clearfix;
}

#widget-area-one,
#widget-area-two {
	z-index: 2000;
}

#widget-area-one {
	margin-top: 15px;
}
#widget-area-two {
	margin-top: 100px;
}

.xoxo {
	width: 140px;
	position: fixed;
	padding: 0;
	margin: 0;
	li {
		list-style-type: none;
	}
}

.nav {
	list-style-type: none;
	li {
		list-style-type: none;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		
		a {
			color: black;
			transition: color 0.5s;
			-moz-transition: color 0.5s; /* Firefox 4 */
			-webkit-transition: color 0.5s; /* Safari and Chrome */
			-o-transition: color 0.5s; /* Opera */
			
			&.active, &:hover {
				background: transparent;
				color: #999;
			}
			
			&.white {
				color: #FFF;
				&:hover {
					color: #999;
				}
			}
		}
		
		&:hover {
			background: transparent;
		}
		
	}
}

.project-thumbnail {
	width: 100%;
	height: auto;
	position: relative;
	img {
		width: 100%;
		height: auto;
	}
	
	.mask {
		display: none;
	}
}

.project {
	margin-bottom: 80px;
}

.carousel {
	width: 100%;
	
	.item {
		img {
			width: 100%;
			height: auto;
			max-height: 390px;	
		}
	}
	
	.indicator {
		margin-right: 15px;
		line-height: 20px;
		a {
			color: black;
			cursor: pointer;
			padding: 0px 5px;
			float: left;
			transition: color 0.5s;
			-moz-transition: color 0.5s; /* Firefox 4 */
			-webkit-transition: color 0.5s; /* Safari and Chrome */
			-o-transition: color 0.5s; /* Opera */
		
			&:hover {
				text-decoration: none;
				color: #999;
			}
			
			span {
				opacity: 0;
				transition: opacity 0.5s;
				-moz-transition: opacity 0.5s; /* Firefox 4 */
				-webkit-transition: opacity 0.5s; /* Safari and Chrome */
				-o-transition: opacity 0.5s; /* Opera */
			}
			
			&.active {
				color: #999;
				
				span {
					opacity: 1;
				}
			}
		}
	}
}

.carousel-control {
	top: 46%;
	border: none;
	background: transparent;
	font-size: 90px;
	color: black;
	opacity: 1;
	z-index: 3000;
	transition: color 0.5s;
	-moz-transition: color 0.5s; /* Firefox 4 */
	-webkit-transition: color 0.5s; /* Safari and Chrome */
	-o-transition: color 0.5s; /* Opera */
	
	&:hover {
		color: #999;
	}
}

.carousel-control.right {
	right: -45px;
}
.carousel-control.left {
	left: -45px;
}

#thumbnails {
	overflow: hidden;
}

.news-post {
	overflow: hidden;
	margin-bottom: 20px;
	
	h3 {
		width: 25%;
		text-align: right;
		margin-top: 0;
		letter-spacing: 1px;
		font-size: 14px;
		
		.delimeter {
			font-size: 24px;
			vertical-align: middle;
			letter-spacing: -1px;
			margin-right: 15px;
			margin-left: 4px;
		}
		float: left;
	}
	
	.content {
		margin-top: 10px;
		width: 75%;
		float:left;
	}
}


#us {
	.backgroundCover;
	color: white;
	
	h2 {
		color: white;
		border-color: white;
	}
	
	.content {
		position: bottom: 20%;
	}
}


#contact {
}

.error404 {
	h1,h2 {
		text-align: center;
		font-size: 92px;
		line-height: 92px;
		color: black;
	}
	h2 {
		font-size: 72px;
		border: none;
	}
	
	#content {
		height: 500px;
		width: 100%;
	}
}

.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}


#us {
	width: 100%;
	min-width: 940px;
}

